<section class="fifth-block setion-animate" id="fifth-block">
    <div class="fifth-wrap">
        <div class="mbox">
            <div class="left">
                <div class="convert">
                    <ul>
                        <li class="animate-delay">12 камней в наборе</li>
                        <li class="animate-delay">Размер одного камня 2,5 х 2,5 х 2,5 см</li>
                        <li class="animate-delay">Мешочек для хранения</li>
                        <li class="animate-delay">Оригинальная качественная упаковка</li>
                        <li class="animate-delay">Сертификат подлиности</li>
                    </ul>
                    <form action="ajax.php" name="" class="contact-form block5-form">
                        <div class="contact-form-title">
                            <p>300 000 р.</p>
                            <h5>250 000 р.</h5>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <button type="submit" class="contact-submit button">
                                    <span>Связаться</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="slider-wrap">
                    <div class="item">
                        <span>
                            <img src="images/b5-i1.png" alt="">
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <img src="images/b5-i1.png" alt="">
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <img src="images/b5-i1.png" alt="">
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <img src="images/b5-i1.png" alt="">
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <img src="images/b5-i1.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>