<!-- first block -->
<section class="first-block" id="first-block">	
	<div class="mbox">
		<div class="first-block-header">
			Закажите набор камней
		</div>
		<div class="main-content">
			<div class="present">
				<img src="images/present.png">
				<span>Идеальный <br>
				подарок</span>
			</div>
			<div class="central-part">
				<div class="img-stones">
					<img src="images/nine-stones.png">
				</div>
				<div class="old-price">
					Старая цена <br>
					<span>300 000 р.</span>
				</div>
				<div class="new-price">
					Новая цена <br>
					250 000 р.
				</div>
				<form>
					<input type="text" name="telephone" class="telephone">
						
					</input>
					<input type="submit" class="button"></input>
				</form>
				<div class="lower-text">
					<span>+ <br> мешочек для камней</span>
				</div>
			</div>
			<div class="hury-up">
				
				<span>Спешите!</span><br>
				Количество <br> ограничено

			</div>

		</div>		
	</div>	
</section>
<!-- first block -->