<section class="forth-block" id="fourth-block">
	<div class="conteiner-top">
        <div class="mbox">
            <div class="title-text">
                <h2>Настоящие ценители <br/> охлаждают виски <br/>только камнями</h2>
            </div>
            <div class="item-row">
                <div class="item oneHeight">
                    <div class="i-mage">
                        <img src="images/b4-i1.png" alt="">
                    </div>
                    <div class="after-text">Камни не тают и  не разбавляют  напиток</div>                    
                </div>
                <div class="item oneHeight">
                    <div class="i-mage">
                        <img src="images/b4-i2.png" alt="">
                    </div>
                    <div class="after-text"> Охлаждают напиток  до идеальной  температуры </div>                    
                </div>
                <div class="item oneHeight">
                    <div class="i-mage">
                        <img src="images/b4-i3.png" alt="">
                    </div>
                    <div class="after-text"> Позволяют  почувствовать  настоящий вкус  хорошего виски</div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner-bot">
        <form action="ajax.php" name="" class="contact-form four-box-form">
            <div class="contact-form-title">
                <p>
                    Внимание! <br/>  
                    <span>Не покупайте подделки или дешевые камни!</span> 
                </p>
                <b>Это может быть опасно!</b>
                <i>Покупая камни для виски неизвестного производителя, вы можете нанести вред своему здоровью, так как материал из которого они произведены, могут быть радиоактивным или содержать опасные примеси.</i>                
                <b>Камни ROX 100% безопасны и производятся из чистейшего карельского "пищевого" камня - стеатита.</b>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="телефон" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit button">
                        <span>Получить консультацию</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>