<!-- HEADER -->
<header>
		<nav>
			<div class="mbox">
				<a href="" class="menu-item">Как купить</a>
				<a href="" class="menu-item">Доставка.Возврат</a>
				<a href="" class="menu-item">О нас</a>
				<a href="" class="menu-item">Каталог</a>
				<a href="" class="menu-item">Контаккты</a>
				<a href="" class="menu-item">+375 29 777 77 77 </a>
			</div>
		</nav>
		<div class="tittle">
			<div class="mbox">
				<h2> Магазин натуральных камней для настоящих ценителей виски </h2>
			</div>
		</div>
		<div class="degrees">
			<div class="mbox">
				<div class="degrees-title">18 градусов! </div>
				<div class="degrees-article">Именно такая температура нужна,<br> 
					чтобы идеально раскрыть богатый вкус виски. 
						<span>
							И именно до такой температуры охлаждают виски камни ROX.
						</span>
					</div>
			</div>
		</div>
		<div class="statement">Не разбавляя и не ухудшая вкус!</div>
</header>
<!-- /HEADER -->

