<section class="second-block" id="second-block">
	<div class="mbox">
		<div class="left-side"><span>Бесплатная <br>
				доставка</span> <br>
			 	по Минску
			<img src="images/truck.png">
		</div>

		<div class="right-side">
			<div class="heading"><<span> Качество 
				гарантировано! </span></div>
			<div class="lower-part">
				<img src="images/document.png">
				<span>Мы вернем деньги 
					в течение 30 дней после 
					покупки, <span>если вам по
					какой-либо причине 
					не понравятся 
					камни!</span>
					</span>
			</div>
		</div>
		<img src="images/piramid-of-stones.png">
	</div>
</section>