<section class="second-block setion-animate" id="second-block">
	<div class="mbox">
		<div class="left-side"><span>Бесплатная <br>
				доставка</span> <br>
			 	по Минску
			<img src="images/truck.png">
		</div>

		<div class="right-side">
			<div class="heading animate-it" ><span> Качество </span>
				гарантировано! </div>
			<div class="lower-part">
				<img src="images/document.png">
				<span>Мы вернем деньги <br>
					в течение 30 дней после <br>
					покупки, <span>если вам по	<br>
					какой-либо причине <br>
					не понравятся <br>
					камни!</span>
					</span>
			</div>
		</div>
		<img class="piramid-stones" src="images/piramid-of-stones.png"/>
	</div>
</section>