<section class="seventh-block" id="seventh-block">
	<div class="b7-wrap">
        <div class="mbox">
            <div class="title-text">
                <h2> 
                    Каталог товаров
                    
                </h2>
                <p>также часто покупают</p> 
            </div>
            <div class="slider-nav">
                <div class="item">
                    <div class="conteiner">
                        <div class="imder">
                            <img src="images/sl-nav-1.jpg" alt="">
                        </div>
                        <div class="atex">
                            <p> Стопка из стеатита </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="imder">
                            <img src="images/sl-nav-2.jpg" alt="">
                        </div>
                        <div class="atex">
                            <p> Подставка под  бокал </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="imder">
                            <img src="images/sl-nav-1.jpg" alt="">
                        </div>
                        <div class="atex">
                            <p> Подставка под  бокал </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="imder">
                            <img src="images/sl-nav-2.jpg" alt="">
                        </div>
                        <div class="atex">
                            <p> Подставка под  бокал </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="imder">
                            <img src="images/sl-nav-1.jpg" alt="">
                        </div>
                        <div class="atex">
                            <p> Подставка под  бокал </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="imder">
                            <img src="images/sl-nav-2.jpg" alt="">
                        </div>
                        <div class="atex">
                            <p> Подставка под  бокал </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-for">
                <div class="item">
                    <div class="row-img">
                        <div class="cont-l">
                            <img src="images/sl-1.png" alt="">
                        </div>
                        <div class="cont-r">
                            <img src="images/sl-2.png" alt="">
                        </div>
                    </div>
                    <div class="desript">
                        <div class="name"> Стопка из стеатита </div>
                        <div class="price">200 000 р.</div>
                        <div class="txt">text text text text text texttext texttext texttext texttext texttext texttext texttext texttext </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-img">
                        <div class="cont-l">
                            <img src="images/sl-1.png" alt="">
                        </div>
                        <div class="cont-r">
                            <img src="images/sl-2.png" alt="">
                        </div>
                    </div>
                    <div class="desript">
                        <div class="name"> Стопка из стеатита </div>
                        <div class="price">200 000 р.</div>
                        <div class="txt">text text text text text texttext texttext texttext texttext texttext texttext texttext texttext </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-img">
                        <div class="cont-l">
                            <img src="images/sl-1.png" alt="">
                        </div>
                        <div class="cont-r">
                            <img src="images/sl-2.png" alt="">
                        </div>
                    </div>
                    <div class="desript">
                        <div class="name"> Стопка из стеатита </div>
                        <div class="price">200 000 р.</div>
                        <div class="txt">text text text text text texttext texttext texttext texttext texttext texttext texttext texttext </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-img">
                        <div class="cont-l">
                            <img src="images/sl-1.png" alt="">
                        </div>
                        <div class="cont-r">
                            <img src="images/sl-2.png" alt="">
                        </div>
                    </div>
                    <div class="desript">
                        <div class="name"> Стопка из стеатита </div>
                        <div class="price">200 000 р.</div>
                        <div class="txt">text text text text text texttext texttext texttext texttext texttext texttext texttext texttext </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-img">
                        <div class="cont-l">
                            <img src="images/sl-1.png" alt="">
                        </div>
                        <div class="cont-r">
                            <img src="images/sl-2.png" alt="">
                        </div>
                    </div>
                    <div class="desript">
                        <div class="name"> Стопка из стеатита </div>
                        <div class="price">200 000 р.</div>
                        <div class="txt">text text text text text texttext texttext texttext texttext texttext texttext texttext texttext </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row-img">
                        <div class="cont-l">
                            <img src="images/sl-1.png" alt="">
                        </div>
                        <div class="cont-r">
                            <img src="images/sl-2.png" alt="">
                        </div>
                    </div>
                    <div class="desript">
                        <div class="name"> Стопка из стеатита </div>
                        <div class="price">200 000 р.</div>
                        <div class="txt">text text text text text texttext texttext texttext texttext texttext texttext texttext texttext </div>
                    </div>
                </div>
            </div>
            <div class="down-button">
                <a href="#call-popup" class="button fancybox-form"><span> Связаться </span> </a>
            </div>
        </div>
    </div>
</section>