<section class="six-block setion-animate" id="six-block">
	<div class="mbox">
		<div class="advantages">
			<div class="advantage-item">
				<img src="images/car-clock.png">
				<div class="advantage-name">
					Бистрая доставка
				</div>
				<div class="advantage-description">
					 Доставка в течение 1 дня в
						 пределах Минска
				</div>
			</div>
			<div class="advantage-item">
				<img src="images/emblem.png">
				<div class="advantage-name">
					100% качество
				</div>
				<div class="advantage-description">
					 Камни представленные в нашем
					 магазине имеют сертификаты
					 полдлинности и все надлежащие
					 		 документы
				</div>
			</div>
			<div class="advantage-item">
				<img src="images/hand-ok.png">
				<div class="advantage-name">
					Ручная работа
				</div>
				<div class="advantage-description">
					 Камни сделаны вручную
					 из карельского стеатита.
				</div>
			</div>
		</div>

		<div class="present-block">
			<img src="images/gift.png" class="animate-it">
			<span>идеальный подарок</span>
		</div>	
	</div>
</section>