<section class="third-block setion-animate" id="third-block">
	<div class="mbox">
		<div class="third-block-headding">
			Настоящие стеатитовые камни для виски <br>
			<span class="animate-it">ROX - идеальный подарок</span> <br>
			для истинного ценителя благородного виски. <br>
		</div>
		<div class="third-block-content">
			<ul>
				<li class="animate-delay">1. Все камни <span>вырезаются вручную</span> из карельского стеатита
					 и благодаря цельной структуре не впитывают 
					вкус и запах виски. 
				</li>
				<li class="animate-delay">2. Подвергаются тщательной шлифовке, а значит 
					которой камни для виски 
					<span>не царапают бокалы</span> 
				</li>
				<li class="animate-delay">3.<span>Не переохлаждают и не разбавляют виски</span>,
					что позволяет раскрываться
 					богатому вкусу.
 				</li>
				<li class="animate-delay">4. Безопасный и натуральный материал. Экологически 
					чистые камни из стеатита <span>без 
					примесей и загрязнений.</span>
				</li>
			</ul>
		</div>
		<div class="video-conteiner">
			
		</div>
		<div class="video"> 
			<div class="video-vraper">
			 	<iframe width="730" height="500" src="https://www.youtube.com/embed/cZ041ki0HpE" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="button-vraper">
			<div class="third-class-button">
				<a href="#call-popup" class="button fancybox-form">
				<span>Получить консультацию</span>
				</a>
			</div>
		</div>
	</div>
</section>