.eight-block{
    .mbox{max-width: 1280px;}
    .title{font:300 43px/43px 'Acrom'; color: #000; text-align: center; padding: 45px 0px 66px 40px;}
    .items{ text-align: center;padding-bottom: 30px;
        li{max-width: 420px;width: 100%; display: inline-block; vertical-align: top;margin-bottom: 35px; opacity:0; transition: all ease-out 2.0s;
            &.animated{opacity: 1;}
        }
    }
    .img{ text-align: center; margin-bottom: 26px;}
    .txt{font:300 20px/34px 'Acrom'; color: #000; position: relative;padding: 0 10px;
        i{font: 700 22px/22px 'Acrom'; color: #fff; width: 39px; height: 39px; background-color: #b90801; border-radius: 50%; display: inline-block; text-align: center; padding-top: 10px; margin-right: 9px;
        }

    }
    .button-wrap{width: 100%; text-align: center;
        a{ text-decoration: none;max-width: 424px; margin: 0 auto;}
        span{font-size: 30px; }
    }
    .seo-text{font:200 16px/26px 'Acrom'; color: #000;max-width: 1180px; margin: 113px auto;}
}
/* ctext */
.ctext h1, .ctext h2, .ctext h3, .ctext h4, .ctext h5, .ctext h6 {
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 15px; }

.ctext h6 {
    font-size: 16px; }

.ctext h5 {
    font-size: 18px; }

.ctext h4 {
    font-size: 20px; }

.ctext h3 {
    font-size: 22px; }

.ctext h2 {
    font-size: 24px; }

.ctext h1 {
    font-size: 26px; }

.ctext p {
    color: #616161;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.25; }

/* /ctext */