// header
header{background: url('../../images/header-background.jpg') no-repeat; background-size: cover; background-position: 50% 50%; background-attachment: fixed; 
		img{display: block;}
	nav{display: block; min-width: 100%; background: url('../../images/navigation-background.png'); position: fixed; z-index: 10; opacity: 1; transition: all 0.5s; padding: 0px 0px 0px 30px;
		&.rotate{margin: 20px; min-width: 98%; 
	    }
			.mbox{display: flex; justify-content: space-between; padding: 5px 0px 0px 0px; 
				.menu-item{ text-decoration: none; color: #fff; font-family: 'Acrom'; font-size: 22px; padding: 10px 10px; font-weight: 300; border: 2px solid transparent;
					&:hover{border: 2px solid #ce0115; border-radius: 25px;}	
					&:active{background-color: #1e1e1e;}
				}
				.phone-number{font-weight: 500;}
			}
	}
	.tittle{
		.mbox{padding: 75px 0 350px 60px; max-width: 70%; min-width: 68%;
			h2{color: #fff; font-family: 'Acrom'; font-size: 65px; font-weight: 400; text-align: center;
				
			}
		}
	}

	.degrees{ background: url('../../images/grey-background.png'); width: 100%; opacity: 0.9; font-family: 'Acrom';
		.mbox{color: #fff; max-width: 75%; min-width: 75%;
			.degrees-title{ width: 100%; text-align: center; font-size: 50px; font-weight: bold;  padding: 20px 40px 20px 0px;  
				
			}
			.degrees-article{text-align: center; font-size: 30px; font-weight: bold;
				span { display: block ;width: 100%; font-size: 34px; padding: 25px 0px 25px 0px; 
				}
			}
		}
	}
	.statement{ width: 100%; text-align: center; color: #fff; font-family: 'Acrom'; font-size: 27px; padding: 20px 0px 30px 0px;
		
	}
	.anchor{text-decoration: none;color: #fff; position: fixed; top: 450px; right: 30px; transition: all 0.5s; z-index: 2;
		img{display: block;}
		span{display: block;}
	}
}

// First Block
.first-block{background-color:#ededed;
	.mbox{font-family: 'Acrom'; overflow: hidden; max-width: 1170px; overflow: visible;
		.first-block-header{font-size: 64px; font-weight: 300; color: #232323 ; width: 100%; text-align: center; padding: 45px 0px 20px 0px;
			
		}
		.main-content{ display: flex; justify-content: space-between; padding: 0px 0; overflow: visible;
			.bag{position: absolute; bottom: 30px; right: 0px; z-index: 2;transform: translate(100%, 0); transition: all ease-out 2.0s;
				&.animated{transform: translate(0, 0);}
			}
			.present{display: flex;  flex-direction: column; align-items: center;   transform: translate(-100%, 0);	transition: all ease-out 1.0s;padding:140px 0px 0px 85px;
						&.animated{ transform: translate(0, 0);}			
				span{font-size: 30px; font-weight: 300; text-align: center; padding: 5px 0; line-height: 1.2;
					
				}
			}
			//.bag{position: absolute; bottom: 30px; right: -20px; z-index: 2;}
			.central-part{
				.img-stones{ opacity: 0;  transition: all ease-out 1.0s; padding: 25px 0px 0px 0px;
					&.animated{ opacity: 1;
						
					}
					
				}
				.old-price{font-size: 31px; text-align: center; padding: 15px 0px 0px 40px; line-height: 1.2;
					span{text-decoration:line-through; padding: 0px 0px 0px 0px;}
					
				}
				.new-price{ font-size: 37px; font-weight: bold; line-height: 1.2; text-align: center; padding: 15px 0px 0px 40px; 
					span{font-size: 48px;
						
					}
				}
				form{ text-align: center; padding: 20px 0px 0px 0px;
					input{margin: 20px auto; width: 390px; padding: 10px 0px 10px 25px; font-family: 'Acrom;'; 
					}
					.contact-form-item{padding: 0px 0px 0px 20px;
						.button{ margin: 15px auto; width: 390px; text-align: center; font-size: 45px; padding: 0px 50px 0px 50px ;
						}
					}
				}
				.lower-text{ position: relative; z-index: 3;
					span{display: block; width: 100%;font-size: 45px; text-align: center; padding: 40px 0px 90px 0px;}
				}	
			}
			.hury-up{line-height: 1.3; font-size: 29px; font-weight: 300; text-align: center; padding: 140px 50px 0px 0px ; transform: translate(100%, 0); transition: all ease-out 0.5s;
				&.animated{transform: translate(0, 0);}	
				span{font-size: 49px; font-weight: 300;
					
				}
			}

		}
	}
}

//second-block
.second-block{background: url('../../images/second-block-background.jpg') no-repeat; background-size: cover; background-position: 50% 50%; height: 430px;
	.mbox{display: flex; font-family: 'Acrom'; max-width: 1170px;
		.left-side{width: 50%; color: white; font-size: 40px; text-align: center; padding: 30px 0px 0px 80px;line-height: 1.3;
			span{font-size: 64px; font-weight: bold; line-height: 0.9;
				span{font-size: 47px;}
			}
			img{position: absolute; width: 100px; height: 100px; left: 80px; top: 110px;
				
			}
		}	
		.right-side{width: 50%; display: flex; flex-direction: column; padding: 0 0 0 0px;
			.heading{font-size: 48px; color: #fff; padding: 30px 0 50px 80px; opacity: 0; transition: all ease-out 1.5s;
				&.animated{opacity: 1;}
				span{font-size: 68px; font-weight: bold; display: block; padding: 0 0 0 40px;}
			}
			.lower-part{display: flex; color: #fff; padding: 0px 0px 0px 0px;
				span{font-size: 32px; font-weight: bold; 
					span{font-size: 26px; font-weight: 300; }
				}
				img{position: relative; left: -20px; width: 120px; height: 160px; margin-right: 20px;}
			}
			
		}
		.piramid-stones{position: absolute; top: 230px; left: -30px;
			
		}
	}
}

//third block

.third-block{ background: url('../../images/third-block-background.jpg') no-repeat; background-size: cover; font-family: 'Acrom';
	.mbox{overflow: hidden; min-width: 1090px;
		.third-block-headding {color: #fff; text-align: center; font-size: 38px; padding: 80px 0px 0px 40px; line-height: 1.2;
			span{font-size: 56px; line-height: 70px; color: #b90801; opacity: 0; transition: all ease-out 2.0s; font-weight:bold; 
				&.animated{opacity: 1;}
			}
		}
		.third-block-content{
			ul{ width: 670px; float: right; padding: 20px 0px 0px 0px; white-space: pre-line; text-align: right;
				li{ font-size: 19px; font-weight: 300; color: #cac8c7; line-height: 25px; padding: 60px 0px 0px 0px ; transform: translate(100%, 0); transition: all ease-out 1.0s; 
					&.animated{transform: translate(0, 0);}
					span{font-size: 22px; font-weight: bold; color: #fff; }
				}
			}
		}
		.video{width: 100%; display: flex; justify-content: center; padding: 80px 0px 0px 0px;
			.video-vraper{ border: 2px solid #fff; padding: 5px; border-radius: 4px;
			}
		}
		.button-vraper{width: 100%;
			.third-class-button{ width: 475px; margin: 0 auto; padding: 70px 0px 120px 0px;
				a{ text-align: center; font-size: 33px;
					span{}
				}
			}
		}
	}
}

//footer

.footer{ background: url("../../images/background-footer.jpg"); 
       .mbox{display: flex; justify-content: space-between; padding: 0 0 35px 0; font-family:'Acrom'; max-width: 1170px;
       		.footer-part:nth-child(1){white-space: pre-line; line-height: 1.5; font-size: 20px; padding: 0px 0 10px 15px;
       			
       		}
       		.footer-part:nth-child(2){display: flex; align-items: center;    
       			.button-vraper{ min-width: 420px; padding: 0px 0px 0 10px;
       				.footer-button{
       					.button {padding: 0px;
       					}	
       				}
       			}		
       		}
       		.footer-part:nth-child(3){font-size: 34px; font-family: 'Acrom'; display: flex; flex-direction: column; justify-content: center; text-align: left;
       		     .telephone-num{  padding: 45px 0px 0px 50px;text-align: right;}  
       			.logo-block{  display: flex; justify-content: space-between; padding: 30px 10px 20px 10px; 
       				p{ padding: 30px 10px 0 25px; font-size: 17px;}
       			}
       			
       		}
       	
       }
}

//six block


.six-block{
	.mbox{font-family: 'Acrom'; min-width: 1140px; padding: 0px 0px 0px 0px;
		.advantages{display: flex; justify-content: space-between;padding: 70px 0px 40px 10px; 
			.advantage-item{ display: flex; flex-direction: column; align-items: center;
				img{}
				.advantage-name{padding: 10px 0 0px 0; font-size: 33px; font-weight: 300;
					
				}
				.advantage-description{white-space: pre-line; font-size: 18px; font-weight: 300; line-height: 1.2; text-align: center;
					
				}

				&:nth-child(2){
					img{-webkit-filter: grayscale(100%); margin-top: -10px;

						}	
				}
			}
		}

		.present-block{padding: 20px 20px 20px 40px;display: flex; flex-direction: column; align-items: center;
			img{opacity: 0; transition: all ease-out 1.5s;  position: relative; animation: jumping; animation-duration: 0.5s; animation-iteration-count: infinite; animation-direction: alternate;
				&.animated{
					opacity: 1;
				}
			}

			span{padding: 0px 0px 40px 20px; text-transform: uppercase; font-size: 29px; font-weight: 300;
				
			}
		}
	}
	
}
//animation for six block gift.png
@keyframes jumping{
	0%{
		top: 0;
	}
	100%{
		top: -20px;
	}
}